html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: white;
  overflow-x: hidden;
}

.header-font {
  font-family: "Merriweather", serif;
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em;
}

.header-list li {
  padding-left: 2em;
}

.header-list :first-child {
  padding: 0;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.float-right-margin {
  margin-left: auto;
}

.float-left-margin {
  margin-right: auto;
}

.text-logo {
  font-size: 2.2em;
}

.text-small {
  font-size: 1em;
  font-weight: 600;
}

.text-medium {
  font-size: 4rem;
}

.text-large {
  font-size: 5.5rem;
}

.floating-section-indicator {
  position: fixed;
  right: 5.6em;
  top: 20em;
  z-index: 1;
  /*    top:50%;
    transform: translate(50%, 50%);*/
}

.floating-section-indicator-el {
  position: relative;
  padding-bottom: 2.5em;
  padding-right: 1.25em;
  text-align: right;
}

.floating-section-indicator-el a {
  color: white;
  text-decoration: none;
}

.floating-section-indicator-el:after {
  content: "";
  position: absolute;
  right: 0;
  top: -1em;
  background-color: rgba(255, 255, 255, 0.35);
  height: 3.5em;
  width: 4px;
  z-index: 20;
}

.active-indiactor:after {
  background-color: white;
}

.title-header-1 {
  color: #fcd885;
  letter-spacing: 0.4em;
  position: relative;
}

.first-section {
  margin-top: 13em;
  height: 49em;
}

.main-header {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.title-header-before {
  margin-right: 2em;
  margin-top: 0.3em;
  width: 3.5em;
  height: 3px;
  background-color: #fcd885;
}

.title-header-2 {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.title-header-2 p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.title-header-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-header-3 img {
  margin-left: 0.5em;
}

.floating-contact-us {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-contact-us :first-child {
  margin-top: 3.2em;
  margin-bottom: 3em;
  margin-left: 1em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.floating-contact-us img {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.account-avatar {
  height: 1.5em;
  width: 1.5em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: -0.25em;
  margin-right: 0.4em;
}

.home-cover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../assets/bg.jpg");
  width: 100vw;
  height: 80.5em;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@-webkit-keyframes left-in {
  from {
    position: absolute;
    left: 0;
  }
  to {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    position: absolute;
  }
}

@keyframes left-in {
  from {
    position: absolute;
    left: 0;
  }
  to {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    position: absolute;
  }
}

.get-started-spacing-1 {
  padding-left: 15.5%;
  padding-right: 15%;
}

.get-started-spacing-2 {
  padding-right: 14.5%;
  padding-left: 15%;
}

.get-started {
  position: relative;
  height: 40em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #0b1d27;
  padding-bottom: 14em;
}

.faded-background-start {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 39, 0.001)), color-stop(25%, #0b1d27), to(#0b1d27));
  background: linear-gradient(180deg, rgba(11, 29, 39, 0.001) 0%, #0b1d27 25%, #0b1d27 100%);
}

.get-started__text-block-1 {
  margin-top: 8em;
  margin-right: 10%;
  position: relative;
}

.get-started__text-block-1:after {
  content: "01";
  position: absolute;
  left: -0.5em;
  top: -0.4em;
  font-size: 15em;
  color: grey;
  opacity: 0.3;
  z-index: 10;
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
}

.get-started__text-block-2 {
  margin-top: 8em;
  margin-left: 10%;
  position: relative;
}

.get-started__text-block-2:after {
  content: "02";
  position: absolute;
  right: 75%;
  top: -0.4em;
  font-size: 15em;
  color: grey;
  opacity: 0.3;
  z-index: 10;
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
}

.get-started__text-block-3 {
  margin-top: 8em;
  margin-right: 10%;
  position: relative;
}

.get-started__text-block-3:after {
  content: "03";
  position: absolute;
  left: -0.5em;
  top: -0.4em;
  font-size: 15em;
  color: grey;
  opacity: 0.3;
  z-index: 10;
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
}

.get-started__read-more {
  margin-top: 2em;
  color: #fcd885;
}

.get-started__read-more img {
  margin-left: 1em;
}

.para-spacing {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.line-height {
  line-height: 1.9em;
}

.flex-row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer {
  position: relative;
  background: #0b1d27;
  height: 20em;
}

.footer__left {
  padding-left: 10em;
}

.footer__left p {
  margin-bottom: 1em;
}

.footer__right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  margin-right: 14%;
}

.copyright {
  opacity: 0.5;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 1em;
  position: absolute;
  bottom: 2.7em;
  left: 11em;
}

.footer__right-list {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
}

.footer__right-list :first-child {
  font-size: 1.5em;
  color: #fcd885;
}

.footer__right-list li {
  padding-bottom: 1.5em;
  font-size: 1.1em;
}

.footer__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader {
  border: 0.2em solid transparent;
  border-top: 0.2em solid #fcd885;
  border-left: 0.2em solid #fcd885;
  border-right: 0.2em solid #fcd885;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background: #0b1d27;
  z-index: 99999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.get-started__image {
  width: 50%;
  height: auto;
}

/* laptop sizes, small monitors(18"), notebooks */
@media only screen and (max-width: 1366px) {
  /*zoom in a little bit*/
  body {
    font-size: 18px;
  }
  /* FONT SIZES*/
  .text-small {
    font-size: 0.8em;
  }
  .text-large {
    font-size: 3.5em;
  }
  .text-logo {
    font-size: 1.5em;
  }
  .text-medium {
    font-size: 3.5rem;
  }
  /* HOME*/
  .first-section {
    height: 40em;
  }
  .main-header {
    width: auto;
  }
  .title-header-2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  /* sections 1,2,3*/
  .get-started {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60em;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-bottom: 5em;
  }
  .get-started__image {
    margin: auto;
    margin-top: 5em;
  }
  .get-started__text-block-1 {
    margin-right: 0;
  }
  .get-started__text-block-2 {
    margin-left: 0;
  }
  .get-started__text-block-2:after {
    content: "02";
    position: absolute;
    left: -0.5em;
    top: -0.4em;
    font-size: 15em;
    color: grey;
    opacity: 0.3;
    z-index: 10;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
  }
  .get-started__text-block-3 {
    margin-right: 0;
  }
  .footer__left {
    padding-left: 5em;
  }
  .footer__left p {
    margin-bottom: 1em;
  }
}

/*tablets */
@media only screen and (max-width: 1024px) {
  /**/
  .floating-section-indicator {
    right: 2em;
  }
  /*FOOTER*/
  body {
    font-size: 19px;
  }
  .first-section {
    height: 50vw;
    margin-top: 0;
    margin-bottom: 10em;
  }
  .footer {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    height: auto;
  }
  .footer__left {
    padding-left: 0;
  }
  .footer__right {
    margin-right: 0;
    width: 57%;
  }
  .copyright {
    bottom: 1.7em;
    left: 5em;
  }
  /*1,2,3 sections*/
  .get-started__image {
    width: 55%;
  }
  .get-started {
    height: 50em;
  }
  .hide-tb-ph {
    display: none;
  }
  .main-header {
    margin-left: 3em;
    margin: 1vw;
  }
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .floating-section-indicator {
    display: none;
  }
  .first-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .floating-contact-us {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .floating-contact-us :first-child {
    margin: 0;
    padding: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .text-large {
    font-size: 8vw;
  }
  .text-small {
    font-size: 1em;
    font-weight: normal;
  }
  .header {
    margin-left: 0;
    margin-right: 0;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__left {
    text-align: center;
  }
  .copyright {
    position: relative;
  }
}

/********/
@media only screen and (max-width: 576px) {
  .text-small {
    font-size: .75em;
  }
  .text-medium {
    font-size: 2em;
  }
  .get-started__image {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */