@import "./variables";
@import "./mixins";
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    overflow-x: hidden;
}
.header-font {
    font-family: "Merriweather", serif;
}
.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.header {
    justify-content: center;
    margin: 3em;
}
.header-list {
    li {
        padding-left: 2em;
    }
    :first-child {
        padding: 0;
    }
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.float-right-margin {
    margin-left: auto;
}
.float-left-margin {
    margin-right: auto;
}
.text-logo {
    font-size: 2.2em;
}

.text-small {
    font-size: 1em;
    font-weight: 600;
}
.text-medium {
    font-size: 4rem;
}
.text-large {
    font-size: 5.5rem;
}
.floating-section-indicator {
    position: fixed;
    right: 5.6em;
    top: 20em;
    z-index: 1;
    /*    top:50%;
    transform: translate(50%, 50%);*/
}
.floating-section-indicator-el {
    position: relative;
    padding-bottom: 2.5em;
    padding-right: 1.25em;
    a {
        color: white;
        text-decoration: none;
    }
    text-align: right;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: -1em;
        background-color: rgba(256, 256, 256, 0.35);
        height: 3.5em;
        width: 4px;
        z-index: 20;
    }
}
.active-indiactor {
    &:after {
        background-color: white;
    }
}
.title-header-1 {
    color: $main-color;
    letter-spacing: 0.4em;
    position: relative;
}
.first-section {
    margin-top: 13em;
    height: 49em;
}
.main-header {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    //   animation: left-in 2s 1 ease-i n forwards 1s;
}

.title-header-before {
    margin-right: 2em;
    margin-top: 0.3em;
    width: 3.5em;
    height: 3px;
    background-color: $main-color;
}
.title-header-2 {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    p {
        width: max-content;
    }
}
.title-header-3 {
    display: flex;
    align-items: center;
    img {
        margin-left: 0.5em;
    }
}
.floating-contact-us {
    align-items: center;
    :first-child {
        margin-top: 3.2em;
        margin-bottom: 3em;
        margin-left: 1em;
        transform: rotate(90deg);
    }
    img {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: 1em;
        margin-left: 1em;
    }
}

.account-avatar {
    height: 1.5em;
    width: 1.5em;
    align-self: flex-start;
    margin-top: -0.25em;
    margin-right: 0.4em;
}
.home-cover-image {
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url("../assets/bg.jpg");
    // background-image: url("https://jooinn.com/images/nature-319.jpg");
    width: 99vw;
    height: 80.5em;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}
@keyframes left-in {
    from {
        position: absolute;
        left: 0;
    }
    to {
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
    }
}

.get-started-spacing-1 {
    padding-left: 15.5%;
    padding-right: 15%;
}
.get-started-spacing-2 {
    padding-right: 14.5%;
    padding-left: 15%;
}
.get-started {
    position: relative;
    height: 40em;

    justify-content: space-around;
    background: $main-background;
    padding-bottom: 14em;
    //look up how to avoid writing gets-tarted every  time
}
.faded-background-start {
    background: linear-gradient(180deg, rgba(11, 29, 39, 0.001) 0%, $main-background 25%, $main-background 100%);
}
.get-started__text-block-1 {
    margin-top: 8em;
    margin-right: 10%;
    position: relative;

    @include after-section-header-count("01");
}

.get-started__text-block-2 {
    margin-top: 8em;
    margin-left: 10%;
    position: relative;
    &:after {
        content: "02";
        position: absolute;
        right: 75%;
        top: -0.4em;
        font-size: 15em;
        color: grey;
        opacity: 0.3;
        z-index: 10;
        font-family: $main-font;
        font-weight: 700;
    }
}
.get-started__text-block-3 {
    margin-top: 8em;
    margin-right: 10%;
    position: relative;
    @include after-section-header-count("03");
}
.get-started__read-more {
    margin-top: 2em;
    color: $main-color;
    img {
        margin-left: 1em;
    }
}
.para-spacing {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.line-height {
    line-height: 1.9em;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.footer {
    position: relative;
    background: $main-background;
    height: 20em;
}
.footer__left {
    padding-left: 10em;
    p {
        margin-bottom: 1em;
    }
}
.footer__right {
    justify-content: space-between;
    width: 35%;
    margin-right: 14%;
}

.copyright {
    opacity: 0.5;
    font-family: $main-font;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 1em;
    position: absolute;
    bottom: 2.7em;
    left: 11em;
}
.footer__right-list {
    font-family: $main-font;
    font-weight: 500;
    :first-child {
        font-size: 1.5em;
        color: $main-color;
    }
    li {
        padding-bottom: 1.5em;
        font-size: 1.1em;
    }
}
.footer__content {
    justify-content: space-between;
}
.loader {
    border: 0.2em solid transparent;
    border-top: 0.2em solid $main-color;
    border-left: 0.2em solid $main-color;
    border-right: 0.2em solid $main-color;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader-container {
    width: 100vw;
    height: 100vh;
    background: #0b1d27;
    z-index: 99999;
    position: sticky;
    top: 0;
}
.get-started__image {
    width: 50%;
    height: auto;
}
/* laptop sizes, small monitors(18"), notebooks */
@media only screen and (max-width: 1366px) {
    /* HOME*/
    .first-section {
        height: 40em;
    }
    .main-header {
        width:auto;
    }
    .title-header-2 {
        font-size: 4.5em;
        width: max-content;
    }
    /* sections 1,2,3*/
    .get-started {
        flex-direction: column;
        height: 60em;
    }
    .get-started__image {
        margin: auto;
        margin-top: 5em;
    }
    .get-started__text-block-2 {
        margin-left: 0;
        @include after-section-header-count("02");
    }
}
